extends layout

block content
  body.client-trivia
    img.logo(src='friends_logo.png')
  
    div#content.btns-section
      button#b1.btn-section Respuesta #01
      button#b2.btn-section Respuesta #02
      button#b3.btn-section Respuesta #03
      button#b4.btn-section Respuesta #04
