extends layout

block content
  body.client-trivia
    img.logo(src='friends_logo.png')
  
    
    .setup
      if !user
        h2 Join!
        .form-group
          .col-sm-offset-3.col-sm-7
            a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
              i.fa.fa-facebook
              | Join with Facebook
      else
        if user.profile.picture
          img.profile(src='#{user.profile.picture}')
        else
          img.profile(src='#{user.gravatar(60)}')
        
        div.continue
          a.btn.next(href="/logout") Back 
          a.btn.next(href="/client/connect") Next
          
  script.
    console.log(!{JSON.stringify(user)})
    
