extends layout

block content
  body.server-trivia
    img.logo(src='../friends_logo.png')

    div.pin #{trivia.pin}

    img.frame(src='../frame2.png')
    span Como se llama la pareja de Phoebe que es un cientifico?

    ul.answers

block scripts
  script(src='/js/server/main.js')
