extends layout

block content
  body.server-trivia
    h3 To start please join using the following PIN

    h4 Users connected
    ul.users 
    
    div.pin #{trivia.pin}

block scripts
  //script(src="/assets/qrious/dist/umd/qrious.js")
  script.
    var pinCode = #{trivia.pin};
  script(src="/js/server/setup.js")
